<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//OpenMRS//DTD OpenMRS Config 1.0//EN" "http://resources.openmrs.org/doctype/config-1.0.dtd">

<module configVersion="1.0">
	
	<!-- Base Module Properties -->
	<id>Flowsheet</id>
	<name>@MODULE_NAME@</name>
	<version>@MODULE_VERSION@</version>
	<package>org.openmrs.module.flowsheet</package>
	<author>Ben Wolfe</author>
	<description>
			Very Basic OpenMRS flowsheet. <br/>
			Adds a link to the Encounters tab on the patient dashboard to 
			this module's "flowsheet".  Currently the flowsheet simply prints
			out all patient observations in reverse chronological order
	</description>

	<activator>org.openmrs.module.flowsheet.FlowsheetModuleActivator</activator>
	
	<updateURL>https://dev.openmrs.org/modules/download/Flowsheet/update.rdf</updateURL>
	<!-- /Base Module Properties -->
	
	<require_version>1.0.53.1481</require_version>
	
	<extension>
		<point>org.openmrs.patientDashboard.EncountersTabHeader</point>
		<class>org.openmrs.module.flowsheet.extension.html.EncounterTabHeaderExt</class>
	</extension>
	
	<!-- Internationalization -->
	<!-- All message codes should start with moduleId.* -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->
	
</module>

