@CHARSET "UTF-8";

/*  */
.table {
	padding: 2ex;
	margin-bottom: 6px;
}

.table1 {
	background: white;
	color: black;
	font-size: 14px;
}

.leftPanel {
	background: #E0E0F0;
	width: 20%;
}

.topLabel {
	background: #8FABC7;
	color: white;
	font-size: 16px;
	padding: 2px;
	margin-left: 2px;
	margin-right: auto;
	text-align: left;
	width: 99%;
}

.secondLabel {
	background: white;
	padding-bottom: 2em;
	width: 99%;
	height: 50px;
	margin-left: 2px;
	margin-right: auto;
}

.topPanel {
	padding-bottom: 2em;
	width: 99%;
	height: 50px;
	margin-left: 2px;
	margin-right: auto;
	border-color: #8FABC7;
	border-width: 0.7px;
}

.hiNormal {
	color: red;
}

.label1 {
 font-size: 12px;
 font-weight: bold;
 font-family: cursive;	
 padding-top: 10px;
 padding-bottom: 2px;
 color: #20448c;
 }
 
 .label2 {
 font-size: 10px;
 font-weight: bold;
 font-family: sans-serif;	
 white-space: pre;
  color: #20448c;
 }
 
 .checkboxLabel{
 color: #20448c;
 }

.gwt-SliderBar-shell {
	border-style: inset;
	border-width: 1px;
	background-color: white;
}

.gwt-SliderBar-line {
	border-style: outset;
	border-width: 1px;
	background-color: #EEE;
	overflow: hidden;
}

.gwt-SliderBar-knob {
	z-index: 1;
	cursor: pointer;
}

.gwt-SliderBar-label {
	font-size: 8pt;
	cursor: default;
	font-weight: bold;
	padding-left: 0em;
}

.gwt-SliderBar-label.dimm {
	color: #CCC;
	font-weight: normal;
}

.gwt-SliderBar-tick {
	width: 1px;
	height: 5px;
	background: black;
	overflow: hidden;
}

.gwt-SliderBar-tick.dimm {
	width: 1px;
	background: #CCC;
}

.gwt-SliderBar-line-sliding {
	background-color: #20448c;
	cursor: pointer;
}